html, body {
    margin: 0;
    padding: 0;
}
.full_container {
    /* border: solid 2px red; */
    min-height: 100vh;
}

/*Lado Formulario */
.div_form_cont {
    background: #000;
    background-repeat: no-repeat;
    min-width: 100vw;
    color: #fff;
    min-height: 100vh;
}
.div_form_cont >h1 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-family: Helvetica;
    font-weight: bold;
    margin: 0;
    padding-top: 40px;
}
.div_form_cont >p {
    text-align: center;
    color: #fff;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 2px;
}
.div_form_cont >p a {
    text-decoration: none;
    font-weight: bold;
    color: green;
}

/* Parte formulario */

.div_form_cont form {
    margin: 0 auto;
    margin-top: -20px;
    width: 27vw;
    /* border: solid 2px red; */
}

.div_form_cont form >label {
    color: rgb(223, 223, 223);
    font-weight: lighter;
    font-family: Helvetica;
    text-transform: uppercase;
    /* border: solid 2px red; */
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px 0;
}
.div_form_cont form >input:nth-of-type(1) {
    outline: 0;
    width: 90%;
    border: solid 3px rgb(198, 197, 197);
    padding: 20px 10px;
    margin: 10px 0;
    background: #000;
    font-family: Helvetica;
    color: rgb(223, 223, 223);
    font-size: 20px;
    letter-spacing: 2px;
}
.div_form_cont form >input::placeholder {
    font-family: Helvetica;
    color: rgb(223, 223, 223);
    font-size: 20px;
    letter-spacing: 2px;
}

.div_form_cont button, .div_form_cont form input:nth-of-type(2){
    display: block;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    border: solid 2px #000;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}